<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" href="/static/imagens/icone.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<style>
    .opcoes__link {
        text-decoration: none !important;
        font-weight: 450 !important;
        font-size: 18px !important;
    }

    .container__imagem__logo {
        width: 50% !important;
        height: auto !important;
    }

    .container__link {
        opacity: 1;
        background-color: var(--branco);
        background-image: url('/public/static/imagens/usuario.png') !important;
    }
</style>
<body>
    <header class="cabecalho">
        <%- include('partials/navbar') %>
    </header>
    <div class="main-content">
        <div class="left-content">
            <h1 class="titulo">Habilidades</h1>
            <p class="texto">Adicionar e planejar suas habilidades é crucial para o desenvolvimento profissional. Utilize esta seção para registrar e monitorar suas habilidades, e assim alcançar seus objetivos com eficiência.</p>
            <div class="container">
                <img src="static/imagens/ideia (1) 1.png" alt="Ícone de Lâmpada" class="icone" id="lampadaIcon">
                <div class="tooltip" id="tooltipText">
                    Desenvolva suas habilidades continuamente e seja paciente com seu progresso. Boa sorte!
                    <ul>
                        <li><strong>Autoavaliação:</strong> Conheça seus pontos fortes e fracos e defina metas SMART.</li>
                        <li><strong>Aprendizado Contínuo:</strong> Faça cursos e leia livros.</li>
                        <li><strong>Práticas e Aplicação:</strong> Pratique regularmente e aplique habilidades em projetos pessoais.</li>
                        <li><strong>Feedback e Reflexão:</strong> Peça opiniões construtivas e reflita sobre seu progresso.</li>
                        <li><strong>Networking e Mentoria:</strong> Conecte-se com profissionais da área e busque mentoria.</li>
                    </ul>
                </div>
            </div>
            <button class="botao" onclick="scrollToRegistrarNovaHabilidade()">Nova Habilidade +</button>
        </div>
        <div class="right-content">
            <table id="habilidades-tabela" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome da Habilidade</th>
                        <th>Nível</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- as habilidades vão ser adicionadas aqui -->
                </tbody>
            </table>
        </div>
    </div>
    <div id="registrar-nova-habilidade" class="formulario">
        <h2>Registrar nova habilidade:</h2>
        <form id="form-habilidade">
            <div class="formulario__grupo">
                <label for="habilidade">Habilidade</label>
                <input type="text" id="habilidade" name="habilidade" placeholder="Habilidade" required>
            </div>
            
            <div class="formulario__grupo">
                <label for="nivel">Nível</label>
                <select id="nivel" name="nivel" required>
                    <option value="Iniciante">Iniciante</option>
                    <option value="Intermediário">Intermediário</option>
                    <option value="Avançado">Avançado</option>
                    <option value="Especialista">Especialista</option>
                </select>
            </div>

            <div class="form-actions">
                <button type="button" class="botao" onclick="history.back()">Voltar</button>
                <button type="submit" class="botao">Salvar</button>
            </div>
        </form>
    </div>

    <footer>
        <%- include('partials/footer') %>
    </footer>
    <script>
        function scrollToRegistrarNovaHabilidade() {
            const element = document.getElementById("registrar-nova-habilidade");
            element.scrollIntoView({ behavior: "smooth" });
        }

        const habilidades = JSON.parse(localStorage.getItem("habilidades")) || [];

        document.getElementById("form-habilidade").addEventListener("submit", function(event) {
            event.preventDefault();
            
            const habilidade = document.getElementById("habilidade").value;
            const nivel = document.getElementById("nivel").value;

            const novaHabilidade = {
                habilidade,
                nivel
            };

            habilidades.push(novaHabilidade);
            localStorage.setItem("habilidades", JSON.stringify(habilidades));
            atualizarTabela();

            document.getElementById("form-habilidade").reset();
        });

        function atualizarTabela() {
            const tabela = document.getElementById("habilidades-tabela").getElementsByTagName("tbody")[0];
            tabela.innerHTML = "";

            habilidades.forEach((habilidade, index) => {
                const linha = tabela.insertRow();

                const celulaHabilidade = linha.insertCell(0);
                celulaHabilidade.textContent = habilidade.habilidade;

                const celulaNivel = linha.insertCell(1);
                celulaNivel.textContent = habilidade.nivel;
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            var lampadaIcon = document.getElementById('lampadaIcon');
            var tooltipText = document.getElementById('tooltipText');

            lampadaIcon.addEventListener('mouseover', function () {
                tooltipText.style.display = 'block';
            });

            lampadaIcon.addEventListener('mouseout', function () {
                tooltipText.style.display = 'none';
            });

            atualizarTabela();
        });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js'></script>
</body>
</html>
