<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós - JobGoal</title>
    <link rel="shortcut icon" href="static/imagens/icone.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/bsb-btn-size/bsb-btn-size.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/margin/margin.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/padding/padding.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header class="cabecalho">
        
        <%- include('partials/navbar') %>
        
    </header>
<!-- About 7 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="mb-4 display-5 text-center titulo__sobre-nos">Sobre nós</h2>
          <p class="text-secondary mb-5 text-center lead fs-4 paragrafo__sobre-nos">Na JobGoal, acreditamos no poder da orientação e do suporte personalizado para alcançar o sucesso profissional. Nossa equipe é composta por especialistas em carreira dedicados a oferecer soluções inovadoras e personalizadas que atendem às necessidades específicas de cada cliente. Trabalhamos incansavelmente para fornecer ferramentas e recursos que capacitam profissionais a traçar e realizar seus objetivos de carreira com confiança e eficácia. Juntos, construímos um futuro onde cada passo na carreira é bem planejado e bem-sucedido.</p>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row gy-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6">
            <img class="img-fluid rounded border border-dark" loading="lazy" src="/static/imagens/empresa.jpeg" alt="About Us">
        </div>
        <div class="col-12 col-lg-6 col-xxl-6">
          <div class="row justify-content-lg-end">
            <div class="col-12 col-lg-11">
              <div class="about-wrapper">
                <h2 class="mb-4 display-5 text-center titulo__sobre-nos">Saiba mais</h2>
                <p class="lead mb-4 mb-md-5 paragrafo__sobre-nos">Nos posicionamos como uma entidade socialmente responsável, comprometida em gerar um impacto positivo significativo nas comunidades que atendemos e no mundo como um todo. Por meio de diversas iniciativas e parcerias estratégicas, contribuímos ativamente para a sustentabilidade ambiental, o bem-estar social e o avanço educacional. Estamos dedicados a fomentar um ambiente onde cada ação e decisão refletem nosso compromisso com a ética, a inclusão e o desenvolvimento sustentável. Juntos, caminhamos para criar um futuro mais verde, mais justo e mais informado.</p>
                <div class="row gy-4 mb-4 mb-md-5">
                  <div class="col-12 col-md-6">
                    <div class="card border border-dark">
                      <div class="card-body p-4">
                        <h3 class="display-5 fw-bold text-primary text-center mb-2">370+</h3>
                        <p class="fw-bold text-center m-0">Especialistas Qualificados</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="card border border-dark">
                      <div class="card-body p-4">
                        <h3 class="display-5 fw-bold text-primary text-center mb-2">18mil+</h3>
                        <p class="fw-bold text-center m-0">Clientes Satisfeitos</p>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="login" class="btn btn-primary bsb-btn-2xl">
                  Comece
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('partials/footer') %>

</body>
</html>
