.carrossel__titulo{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
    margin-bottom: 10px;
}

.swiper-slide img{
    width: 90%;
    height: auto;
}

.swiper-pagination{
    position: initial;
    margin: .5em 0;
}

@media screen and (min-width: 1024px){
    .carrossel__titulo{
        font-size: 27px;
        width: 60%;
        margin: auto;

    }

    .swiper-slide img{
        width: 60%;
        height: auto;
        margin-left: 5px;
        margin-right: 5px;
    }

    .swiper-slide img:first-child{
        margin-left: 40px;
    }
}

@media screen and (min-width: 1728px){
    .carrossel__titulo{
        font-size: 47px;
        width: 80%;
        margin: auto;

    }

    .swiper-slide img{
        width: 60%;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .swiper-slide img:first-child{
        margin-left: 80px;
    }
}




